<!DOCTYPE html>
<html>
<head>
  <title>SoundFinder</title>
  <%= favicon_link_tag "favicon.png" %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'https://code.jquery.com/jquery-3.2.1.min.js' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <div class="main">

    <div class="ui top borderless fixed menu main-header">
      <div class="ui container">

        <a class="item item-title">
          <%= image_tag "search.svg" %>
        </a>

        <div class="right menu">
          <div class="item">
            <% if user_signed_in? %>
              <%= link_to "Cerrar Sesión", destroy_user_session_path, method: :delete, class: 'ui inverted button' %>
            <% else %>
              <div class="ui green inverted login button right-space">Iniciar Sesión</div>
              <div class="ui login popup transition hidden">
                <%= render "devise/sessions/new" %>
              </div>

              <div class="ui register inverted button">Registrarse</div>
              <div class="ui register popup transition hidden">
                <%= render "devise/registrations/new" %>
              </div>
            <% end %>
          </div>
        </div>

      </div>
    </div>

    <% unless flash.empty? %>
   	  <script type="text/javascript">
 	      <% flash.each do |f| %>
   	      <% type = f[0].to_s.gsub('alert', 'error').gsub('notice', 'info') %>
   	     	 toastr['<%= type %>']('<%= f[1] %>');
 	      <% end %>
   	  </script>
 	 <% end %>

    <%= yield %>

  </div>

  <%# Footer %>
  <div class="ui vertical footer segment">
    <div class="ui center aligned container">
      <div class="ui horizontal divided list">

        <div class="item">
          <div class="ui teal large label">EmmanuelSW</div>
        </div>

        <div class="item">
          <%= link_to "https://github.com/emmanuelsw", target: "_blank" do %>
            <i class="inverted github big icon"></i>
          <% end %>
          <%= link_to "https://facebook.com/emmanuelsw", target: "_blank" do %>
            <i class="inverted facebook big icon"></i>
          <% end %>
        </div>
      </div>
    </div>
  </div>

</body>
</html>
