<!DOCTYPE html>
<html>
<head>
  <title>SoundFinder</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'https://code.jquery.com/jquery-3.2.1.min.js' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <div class="main">
    <div class="ui container">
      <%= semantic_flash %>
    </div>
    <div class="ui top borderless fixed menu">
      <div class="ui container">
        <a class="item item-title">
          <span class="menu-title">Sound Finder</span>
        </a>
        <div class="right menu">
          <div class="item">
            <%= link_to "Iniciar Sesión", new_user_session_path, class: 'ui green button right-space' %>
            <%= link_to "Registrarse", new_user_registration_path, class: 'ui button' %>
          </div>
        </div>
      </div>
    </div>

    <div class="ui main container">
      <%= yield %>
    </div>
  </div>
</body>
</html>
